<!-- Форма для входа пользователя -->
<section id="enter_form">

  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>Вот эти <%= @user.errors.count %> ошибок помешали Вам войти:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Для входа просто введите имя" %>
      <%= f.text_field :name, placeholder: "вот тут..." %>
    </div>
    
    <div class="actions">
      <%= f.submit "Войти" %>      
    </div>    
  <% end %>
</section>
