<!-- Форма для входа пользователя -->
<section id="enter_form">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :name, "Для входа просто введите имя" %>
      <%= f.text_field :name, placeholder: "вот тут..." %>
    </div>
    
    <div class="actions">
      <%= f.submit "Войти" %>      
    </div>    
  <% end %>
</section>
