<header id="user_head">
  <h1><%= @user.name %></h1>
</header>
<section id="interests">
  <div id="interests_list">
    <h2>Интересы:<sup><%= @user.interests.reload.size %></sup></h2>
    <ul>
      <% @user.interests.all.each do |i| %>
        <li>
          <%= i.title  %>
          <% if @user == @logged_user %>
            <%= link_to "Удалить", destroy_interest_path(i), method: "delete" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="add_interest_form">

    <%= render 'users/form' if @user == @logged_user%>

  </div>
</section>
