<!DOCTYPE html>
<html>
<head>
  <title>Тестовое задание UserForm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main">
    <%= link_to enter_path, id: "logo_link" do %>
      <h1 id="logo">
        User<em>Form</em><sup>Тестовое задание</sup>
      </h1>
    <% end %>
    
    <% if @logged_user %>
      <div id="user_box">
        <%= link_to "Выйти", logout_user_path(@logged_user) %> 
        <%= link_to @logged_user.name, @logged_user, id: "name_link" %>
      </div>
    <% else %>
      <%= link_to "Войти", enter_path, id: "enter_link" %>
    <% end %>
  </header>
  <section id="primary">

    <%= yield %>

  </section>
  <footer class="main">
    <p>Тестовое задание UserForm. <a href="mailto:vasili.chyrvon@gmail.com">Василий Чирвон</a>. Октябрь 2012</p>
  </footer>
</body>
</html>
