<!DOCTYPE html>
<html>
<head>
  <title>Тестовое задание UserForm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main">
    <%= link_to enter_path, id: "logo_link" do %>
      <h1 id="logo">
        User<em>Form</em><span>Тестовое задание</span>
      </h1>
    <% end %>
    
    <!-- Если в сессии нет пользователя, этот блок скрыт -->
    <% if session[:user_id] %>
      <div id="user_box"> 
        <%= link_to "Выйти", logout_user_path(@user) %> 
        <%= link_to @user.name, @user, id: "name_link" %>
      </div>
    <% end %>

  </header>
  <section id="primary">

    <%= yield %>

<!-- DELME: Удалить строки ниже -->
    <p>Session: <%= session %></p>
    <p>Params: <%= params %></p>
    Юзеры в базе:
    <ul>
      <% User.all.each do |u| %>
        <li><%= "#{u.id} #{u.name}" %></li>
      <% end %>
    </ul>
    <p><%= User.find_by_name(params[:name]) %></p>
<!-- DELME: Удалить строки выше -->

  </section>
  <footer class="main">
    <p>Тестовое задание UserForm. <a href="mailto:vasili.chyrvon@gmail.com">Василий Чирвон</a>. Октябрь 2012</p>
  </footer>
</body>
</html>
